html, body {
    margin: 0;
    height: 100%;
    background-color: black;
}

body {
    font-family: sans-serif;
    background-color: black;
}

header {
    margin: 0;
    padding: 1px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    
    background-color: rgb(77, 73, 73);
    background-color: rgb(39, 39, 39);
    border-bottom: none;
    
}

button {
    background-color: rgb(77, 73, 73);

    text-align: center;
}

p1 {
    margin-left: 30px;
    color: rgb(255, 255, 255);
    float: left;
}

P {
    color: rgb(255, 0, 0);
}


button {
    background-color:  rgb(39, 39, 39);
    text-align: center;
    border: 0;
    outline-style: none;
    outline-width: 0px !important;
    outline-color: none !important;
    border: none;
    float: left;
    
}


.button:hover {
    
    color: rgb(151, 3, 3);
}


footer {
    margin: 0;
    padding: 0;
    background-color: rgb(223, 142, 20);
    box-sizing: border-box;
}

img {
    top: 7%;
    border: 5px solid rgb(0, 0, 0);
    float: left;
}

h1 {
    color: rgb(255, 0, 0);
}
h2 {
    color: rgb(5, 194, 37);
}

.img1 {
    height: 30px;
    width: 30px;
    justify-content: end;
    display: flex;
    flex-wrap: wrap;
}

.row {
    padding-top: 50px;
    display: flex;
    flex-wrap: nowrap;
}